body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
    text-align: center;
    padding: 20px;
}

button.objeto {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid #5f0059;
    border-radius: 8px;
    background: #333;
    color: white;
    transition: background 0.3s;
}

button.objeto:hover {
    background: #7c0063
    
}

#dado {
    width: 100px;
    margin: 20px auto;
    display: none;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

#loot {
    margin-top: 20px;
    white-space: pre-line;
    font-size: 1.1em;
}

/* Estilo especial para el nombre del loot */
.loot-nombre {
    font-size: 1.1em;              
    font-weight: bold;
    color: #ffdf5e;                
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffaa00;
    animation: parpadeo 1.5s infinite alternate;
}

.loot-nombre {
    font-size: 1.8em;
    font-weight: bold;
    animation: parpadeo 1.5s infinite alternate;
}

/* RAREZAS */
.loot-nombre.comun {
    color: #3cff3c; /* Verde */
    text-shadow: 0 0 5px #1a8a1a, 0 0 10px #2fff2f;
}

.loot-nombre.poco-comun {
    color: #3ca9ff; /* Azul */
    text-shadow: 0 0 5px #1a4a8a, 0 0 10px #4fb9ff;
}

.loot-nombre.raro {
    color: #c93cff; /* Morado */
    text-shadow: 0 0 5px #6a1a8a, 0 0 10px #d94fff;
}

.loot-nombre.muy-raro {
    color: #ff3c3c; /* Rojo */
    text-shadow: 0 0 5px #8a1a1a, 0 0 10px #ff4f4f;
}

.loot-nombre.otro {
    color: #ffdf5e; /* Amarillo dorado para legendario u otros */
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffaa00;
}

/* Animación de parpadeo */
@keyframes parpadeo {
    from { opacity: 1; }
    to { opacity: 0.7; }
}








@keyframes parpadeo {
    from { opacity: 1; }
    to { opacity: 0.7; }
}

footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 10px;
    background: #1e1e1e;
    border-top: 2px solid #5f0059;
    font-size: 0.9em;
    color: #bbb;
    text-align: center;
}